extends layout
block scripts
  script(type="module" src='./indexBundle.js')

block content
  div(id='container' class='flexContainerColumn' style={
    height: '100%',
    width: '100%',
    background: '#111a24',
    padding: '0.1px'
  })
    div(id='menu')
      div(class='flexGrow')
        input(id='dateSelect' class='flexGrow' type="date" onkeydown="return false")
      |
      div( class='flexGrow' style={margin: 'auto'})
        div(class='buttonContainer')
          button(id='museumDataButton' class='button button-l') Museum data
          |
          button(id='visitorDataButton' class='button button-r') Visitor data
      |
      div(id="idSelContainer" class='flexGrow' style={visibility:'hidden'})
        input(id='idSelect' class='flexGrow' type="number")
        |
        button(id='getVisitorButton' class='button button-l idB') Get Visitor
        |
        button(id='getGroupButton' class='button button-r idB') Get Group

    |
    div(id='stats' class='flexContainerColumn')
      div(class='flexContainerRow' style={})
        div(class='dataVisualization' )
          canvas(id='visitorsPerHour' class='dataCanvas')
        |
        div(class='dataVisualization' style={})
          canvas(id='visitorsPerRoomPerHour' class='dataCanvas')
      |
      div(class='flexContainerColumn' style={})
        div(class='dataVisualization' style={})
          canvas(id='POIattractionPower' class='dataCanvas')
        |
        div(class='dataVisualization' style={})
          canvas(id='POIholdingPower' class='dataCanvas')
    |
    div(id='visitorData' class='flexContainerRow' style={display: 'none'})
      div(class='flexContainerRow' style={})
        div(class='dataVisualization flexContainerColumnVisitor' style={})
          div(id='presentationTitle' class='whiteFont textAlignCenter' style={width: '100%', margin: '4px'}) Presentations watched:
          |
          div(style={height: '0px', width: '100%', background: 'white', padding: '1px'})
          |
          ul(id='presentationSummary' class='visitorDataContainer')
        |
        div(class='dataVisualization flexContainerColumnVisitor' style={})
          div(id='visitTitle' class='whiteFont textAlignCenter' style={width: '100%', margin: '4px'}) Visit summary:
          |
          div(style={height: '0px', width: '100%', background: 'white', padding: '1px'})
          |
          ul(id='visitSummary' class='visitorDataContainer')
      |
      div(class='flexContainerColumnVisitor' style={})
        div(id='groupContainer' class='dataVisualization flexContainerColumnVisitor' style={})
          div(id='groupTitle' class='whiteFont textAlignCenter' style={width: '100%', margin: '4px'}) Group ID:
          |
          div(style={height: '0px', width: '100%', background:'white', padding:'1px'})
          |
          div(class='whiteFont textAlignCenter' style={width: '100%', margin: '4px'}) Group members:
          |
          ul(id='groupMembers' class='visitorDataContainer')
        |
        div(id='OtherInfo' class='dataVisualization visitorDataContainer whiteFont flexContainerColumnVisitor' style={})
          div(id='oInfoTitle' class='whiteFont textAlignCenter' style={width: '100%', margin: '4px'}) General museum information:
          |
          ul(id='oInfo' class='visitorDataContainer')







