extends layout
block scripts
  script(type="module" src='./indexBundle.js')

block content
  div(id='container' class='flexContainerColumn' style={
    height: '100%',
    width: '100%',
    background: '#111a24',
    padding: '0.1px'
  })
    div(id='menu')
      div(class='flexGrow')
        input(id='dateSelect' class='flexGrow' type="date" onkeydown="return false")
      |
      div( class='flexGrow' style={margin: 'auto'})
        div(class='buttonContainer')
          button(class='button button-l') Museum data
          |
          button(class='button button-r') Visitor data
      |
      div(class='flexGrow')
    |
    div(id='stats' class='flexContainerColumn' style={display: 'none'})
      div(class='flexContainerRow' style={})
        div(class='dataVisualization' )
          canvas(id='visitorsPerHour' class='dataCanvas')
        |
        div(class='dataVisualization' style={})
          canvas(id='visitorsPerRoomPerHour' class='dataCanvas')
      |
      div(class='flexContainerColumn' style={})
        div(class='dataVisualization' style={})
          canvas(id='POIattractionPower' class='dataCanvas')
        |
        div(class='dataVisualization' style={})
          canvas(id='POIholdingPower' class='dataCanvas')
    |
    div(id='visitorData' class='flexContainerRow' )
      div(class='flexContainerRow' style={})
        div(class='dataVisualization' )
        |
        div(class='dataVisualization' style={})
      |
      div(class='flexContainerColumnVisitor' style={})
        div(class='dataVisualization' style={})
        |
        div(class='dataVisualization' style={})






