doctype html
html(style={ height: '100%'})
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    block scripts
  body(style={ Height: '100%', margin: '0px', padding: '0px'})
    block content
